.current {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#date {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  position: relative;
  top: 15px;
}

#current-position-color {
  background: rgba(255, 235, 235);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
  line-height: 200px;
  margin-top: 26px;
}